<!DOCTYPE html>
<html>
    <head>
        <style>
            
        </style>
        <title>Scan QR code</title>
    </head>
    <body>
        <div id="reader" width="600px"></div>
        
        <script src="static/eruda.js"></script>
        <script src="static/html5-qrcode.js"></script>
        <script>
            eruda.init();
            
            const html5Qrcode = new Html5Qrcode("reader");
            const successCallback = (text, result) => {
                console.log("text and result are", text, result);
                html5Qrcode.stop();
                window.location.href = `/verify?id=${text}`;
            }
            const config = { fps: 10, qrbox: { width: 250, height: 250 } };
            
            html5Qrcode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);

         </script>
    </body>
</html>